<template name="order_item">
  {{#if in_edit_mode}}
    {{> order_item_edit}}
  {{else}}
  <tr class="order-item {{order_class}}">
    <td>{{name}}</td>
    <td>{{order}}</td>
    <td>{{mods}}</td>
    <td>{{side}}</td>
    <td>
      <a href="#" class="status-label">{{status}}</a>
      {{#unless in_insert_mode}}
      <div class="btn-group" style="width: 120px">
        <a href="#" class="btn-in btn btn-xs btn-success col-xs-4 invisible">In</a>
        <a href="#" class="btn-out btn btn-xs btn-warning col-xs-4 invisible">Out</a>
        <a href="#" class="btn-out-forever btn btn-xs btn-danger col-xs-4 invisible">Never</a>
      </div>
      {{/unless}}
    </td>
    <td><a href="#" class="btn-delete pull-right invisible"><i class="glyphicon glyphicon-trash"></i></a></td>
  </tr>
  {{/if}}
</template>

<template name="order_item_edit">
  <tr class="active">
    <td><input name="name" value="{{name}}"></td>
    <td><input name="order" value="{{order}}"></td>
    <td><input name="mods" value="{{mods}}"></td>
    <td><input name="side" value="{{side}}"></td>
    <td><input type="submit" class="btn btn-primary btn-edit" value="Save"></td>
    <td></td>
  </tr>
</template>

<template name="order_item_insert">
  <tr class="active">
    <td><input type="text" name="name"></td>
    <td><input type="text" name="order"></td>
    <td><input type="text" name="mods"></td>
    <td><input type="text" name="side"></td>
    <td><input type="submit" class="btn btn-primary" value="I'm in!"></td>
    <td></td>
  </tr>
</template>
