<template name="signin">
  <a target="_blank" href="https://github.com/MrLeebo/badger-fuel">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
  </a>
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        <img src="http://lorempixel.com/400/400/food" alt="" class="img-responsive img-circle"/>
      </div>
      <div class="col-xs-offset-2 col-xs-5">
        <h1 class="text-muted">a better way to organize in-office lunch orders</h1>
        <p class="lead">
          badger fuel is built for companies and small businesses who offer bought lunches for the people who work for them, boiling the process down to one simple question
        </p>
        <p class="lead">
          are you in or out?
        </p>

        {{> loginButtons}}
      </div>
    </div>
    <div class="row">
      <hr>
      <p class="text-muted text-center">designed by <a target="_blank" href="http://jeremyliberman.com">Jeremy Liberman</a></p>
    </div>
  </div>
</template>
